<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    
    <context:property-placeholder location="classpath:sports.properties"/>

	<bean id="myFortune" class="org.rajesh.boda.HappyFortuneService">
	</bean>
	
	
	<bean id="myRandomFortune" class="org.rajesh.boda.RandomFortuneService">
	</bean>

	<bean id="myCoach" class="org.rajesh.boda.BaseBallCoach">
		<constructor-arg ref="myFortune"></constructor-arg>
	</bean>


	<bean id="myCoachTrack" class="org.rajesh.boda.TrackCoach">
		<constructor-arg ref="myFortune"></constructor-arg>
	</bean>

	<bean id="myCricketCoach" class="org.rajesh.boda.CricketCoach">
		<property name="fortuneService" ref="myFortune"></property>
		<property name="emailAddress" value="${foo.email}"></property>
		<property name="team" value="${foo.team}"></property>
	</bean>
	
	<bean id="myRandomCoach" class="org.rajesh.boda.RandomCoach">
		<constructor-arg ref="myRandomFortune"></constructor-arg>
	</bean>
	
</beans>